name: Azure (Trivy + Dockle) Vulnerability Scan

on:
  schedule:
    - cron: '0 2 * * *'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Build Management Center image
        run: |
          docker build -t hazelcast/management-center:${{ github.sha }} .

      - name: Scan Management Center image by Azure (Trivy + Dockle)
        if: always()
        uses: Azure/container-scan@v0
        with:
          image-name: hazelcast/management-center:${{ github.sha }}
