name: Build docker image

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  publish_latest_snapshot:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Docker repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
        with:
          version: v0.7.1

      - name: Build/Push Management Center image
        run: >-
          docker buildx build
          --tag hazelcast/management-center:ci-build
          --platform=linux/arm64,linux/amd64 .
