name: Create tag

on:
  workflow_dispatch:
    inputs:
      new_version:
        type: string
        description: 'The new version number (e.g. `5.5.2`)'
        required: true

jobs:
  create_tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Get current project version
        run: |
          echo "MC_VERSION=$(awk -F= '/^ARG MC_VERSION=/{print $2}' "Dockerfile" | tr -d '"')" >> ${GITHUB_ENV}

      - name: Configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Create tag
        run: |
          git tag "${TAG_NAME}"
          git push origin "${TAG_NAME}"
        env:
          TAG_NAME: v${{ env.MC_VERSION }}

      - name: Update the Dockerfile with the new version
        run: |
          sed --in-place 's/^ARG MC_VERSION=.*/ARG MC_VERSION=${{ inputs.new_version }}/' Dockerfile

      - name: Commit and push changes
        run: |
          git commit --all -m ${{ inputs.new_version }}
          git push

  build:
    needs: create_tag
    uses: ./.github/workflows/tag_image_push.yml
    with:
      dry-run: false
      tag: 'v${{ inputs.new_version }}'
    secrets: inherit
