name: Rebuild maintained images

on:
  workflow_dispatch:
    inputs:
      minimal-supported-version:
        type: string
        description: 'Minimal supported version from which we should start checking images, e.g. 5.3, 5.4, 5.5. Default value is 5.3'
        required: false
      dry-run:
        type: boolean
        description: 'Should not push images?'
        required: false
        default: true
  schedule:
    - cron: '0 6 * * *'

jobs:
  get-latest-patch-versions-to-rebuild:
    runs-on: ubuntu-latest
    name: Get latest patch versions
    outputs:
      versions: ${{ steps.get-latest-patch-versions-to-rebuild.outputs.versions }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get changed image versions
        uses: ./.github/actions/get-latest-patch-versions-to-rebuild
        id: get-latest-patch-versions-to-rebuild
        with:
          since-version: ${{ inputs.minimal-supported-version || '5.3'  }}
          image-name: hazelcast/management-center

  rebuild:
    if: ${{ needs.get-latest-patch-versions-to-rebuild.outputs.versions  != '[]'}}
    name: Rebuild ${{ matrix.version }}
    needs: get-latest-patch-versions-to-rebuild
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJSON(needs.get-latest-patch-versions-to-rebuild.outputs.versions) }}
    uses: ./.github/workflows/tag_image_push.yml
    with:
      dry-run: ${{ inputs.dry-run || false }}
      tag: 'v${{ matrix.version }}'
    secrets: inherit
