name: Publish Management Center released version image

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: "Git tag to build"
      dry-run:
        type: boolean
        required: false
        description: "Build without push?"
        default: false
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
        description: "Git tag to build"
      dry-run:
        type: boolean
        required: false
        description: "Build without push?"
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.prepare.outputs.RELEASE_VERSION }}
      dry_run: ${{ steps.prepare.outputs.DRY_RUN }}
    env:
      DOCKER_IMAGE_NAME: hazelcast/management-center
    steps:
      - name: Set tag to rebuild
        id: prepare
        run: |
          REF=${{ inputs.tag || github.ref_name }}
          echo "REF=$REF" >> $GITHUB_ENV
          echo "RELEASE_VERSION=${REF:1}" >> ${GITHUB_OUTPUT}
          echo "DRY_RUN=${{ inputs.dry-run || false }}" >> ${GITHUB_OUTPUT}

      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ env.REF }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - id: get-tags-to-push
        uses: hazelcast/management-center-docker/.github/actions/get-tags-to-push@master
        with:
          ref: ${{ env.REF }}
          release-version: ${{ steps.prepare.outputs.RELEASE_VERSION }}

      - name: Compute tags
        run: |
          echo TAGS="${DOCKER_IMAGE_NAME}:${TAGS_TO_PUSH//,/,${DOCKER_IMAGE_NAME}:}" >> ${GITHUB_ENV}
        env:
          TAGS_TO_PUSH: ${{ steps.get-tags-to-push.outputs.tags }}
         
      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/s390x
          tags: ${{ env.TAGS }}
          provenance: false
          push: ${{ steps.prepare.outputs.DRY_RUN == 'false' }}

      - name: Update Docker Hub Description of Management Center image
        if: ${{ env.PUSH_LATEST == 'yes' && steps.prepare.outputs.DRY_RUN == 'false' }}
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ env.DOCKER_IMAGE_NAME }}
          short-description: Hazelcast Management Center Docker Image
          readme-filepath: ./README.md

  push-rhel:
    needs: build
    if: needs.build.outputs.dry_run == 'false'
    uses: ./.github/workflows/tag_image_push_rhel.yml
    with:
      RELEASE_VERSION: ${{ needs.build.outputs.release_version }}
    secrets: inherit
